@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

.homepage {
  height: 100vh;
  width: 100%;
  padding: 0 8rem;
  background-image: url('../../public/assets/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include displayCenter(center, center);
  background-color: $black_color;
  display: flex;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.605);
    z-index: 1;
  }
  .homepage_left {
    position: relative;
    z-index: 2;
    @include displayCenter(center, center);
    flex-direction: column;
    h3 {
      font-size: 1.4rem;
      animation-name: hello;
      animation-duration: 1s;
      background: linear-gradient(260deg, #3d67ff 0%, #9773ff 50%, #efceff 80%),
        #fff;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    h1 {
      font-size: 2.8rem;
      animation: name 1.5s ease-in;
      color: $white_color;
      background: linear-gradient(260deg, #3d67ff 0%, #9773ff 50%, #efceff 80%),
        #fff;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    .home_content {
      font-size: 1.3rem;
      color: $white_color;
      max-width: 800px;
      margin-top: 30px;
      text-align: justify;
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media screen and (max-width: $md) {
  .homepage {
    grid-template-columns: 1fr;
    top: -80px;
    padding: 0 4rem;

    .homepage_left {
      @include displayCenter(center, center);
      h3 {
        position: absolute;
        top: 90px;
        font-size: 30px;
      }
      h1 {
        font-size: 35px;
        margin-top: 150px;
      }
      .home_content {
        font-size: 18px;
        margin-top: 15px;
        max-width: 450px;
      }
    }
    .homepage_right {
      margin-top: 50px;
    }
  }
}
@media screen and (max-width: $sm) {
  .homepage {
    padding: 0 0.5rem;

    .homepage_left {
      .home_content {
        max-width: 320px;
      }
    }
    .homepage_right {
      // margin-bottom: 100px;
      @include displayCenter(center, center);
    }
  }
}
