.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 4rem;
  z-index: 10;
  background: rgba(0, 0, 0, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  @include displayCenter(center, space-between);

  .header_left {
    @include displayCenter(center, space-between);
    font-size: 1.5rem;
    color: $white_color;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      background: linear-gradient(90deg, #fffb00, #ff00ea, #0ef);
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

  }
  .header_right {
    position: relative;
    @include displayCenter(center, space-between);
    .link {
      position: relative;
      text-decoration: none;
      color: $white_color;
      font-size: 20px;
      font-weight: 500;
      margin-right: 20px;
      cursor: pointer;
      &:hover {
        background: linear-gradient(90deg, #fffb00, #ff00ea, #0ef);
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
    .active::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.1rem;
      background-color: $white_color;
      bottom: -6px;
      cursor: pointer;
    }
  }
  .btn_wrapper {
    .header_btn {
      margin-left: 100px;
      font-size: 1.5rem;
      color: $white_color;
      @include displayCenter(center, center);
    }
  }
}

@media screen and (max-width: $md) {
  .header {
    width: 100%;
    padding: 0 1rem;
    .header_right {
      display: none !important;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: $sm) {
  .header {
    .header_right_mobile {
      width: 100%;
    }
  }
}

.header_right_mobile {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  top: 70px;
  left: 0;
  width: 100%;
  height: 300px;
  @include displayCenter(flex-start, flex-start);
  flex-direction: column;
  gap: 30px;
  transition: transform 0.3s ease-in;
  .link {
    position: relative;
    text-decoration: none;
    color: $white_color;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    cursor: pointer;
  }
  .active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: $white_color;
    bottom: -6px;
  }
}

.header_right_mobile.visible {
  display: visible;
}
