.skills {
  padding: 5rem 0;
  background-color: $black_color;
  @include displayCenter(center, center);
  flex-direction: column;
  gap: 60px;
  .section_title {
    margin: 0 0 4rem 0 !important;
  }
  .programming_skills {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 60px;
  }
  .programming_skill_content {
    position: relative;
    display: inline-block;
    @include displayCenter(center, center);
    flex-direction: column;
    width: 100px;
    height: 100px;
    color: $white_color;
    border-radius: 10px;
    box-shadow: $box_shadow_brand;
    transition: transform 0.5s ease;
    &:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }
    .icon {
      font-size: 35px;
      @include displayCenter(center, center);
    }
    .tooltip {
      visibility: hidden;
      width: 120px;
      background-color: #55555589;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px 10px;
      position: absolute;
      bottom: 100%; /* Position above the icon */
      left: 50%;
      margin-left: -60px; /* Center the tooltip */
      opacity: 0;
      transition: opacity 0.3s;
      z-index: 1;
      white-space: nowrap;
    }
    &:hover {
      transform: translateY(-10px);
    }
  }
}

@media screen and (max-width: $md) {
  .skills {
    .programming_skills {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media screen and (max-width: $sm) {
  .skills {
    .section_title {
      font-size: 35px;
    }
    .programming_skills {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }
}
