.projects {
  height: auto;
  background-color: $black_color;
  h1 {
    padding-top: 100px;
    @include displayCenter(center, center);
    font-size: 50px;
    color: $white_color;
    &:hover {
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5),
        -4px -4px 8px rgba(255, 255, 255, 0.8);
    }
    span {
      color: $brand_color;
      margin-left: 20px;
    }
  }
  .project_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    padding: 2.8rem;
    .project_box {
      position: relative;
      display: flex;
      border-radius: 1rem;
      border: 2px solid $brand_color;
      //   padding: 1rem;
      //   width: 300px;
      height: 300px;
      object-fit: contain;
      box-shadow: $box_shadow;
      link {
        border: 2px solid $brand_color;
        width: 100%;
        border-radius: 4rem;
      }
      .projectImg {
        width: 100% !important;
        height: 100% !important;
        border-radius: 1rem;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .projects {
    h1 {
      font-size: 45px;
    }
  }
}
@media screen and (max-width: $md) {
  .projects {
    .project_container {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
