.projects {
  height: auto;
  background-color: $black_color;
  padding: 5rem 10px;

  .project_container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 2.8rem 0;
    .project_box {
      position: relative;
      display: flex;
      border-radius: 1rem;
      border: 2px solid #064aa4;
      width: 100%;
      height: 250px;
      object-fit: contain;
      box-shadow: $box_shadow;
      overflow: hidden;
      // background-color: blue;
      link {
        border: 2px solid $brand_color;
        width: 100%;
        border-radius: 4rem;
      }
      .projectImg {
        width: 100% !important;
        height: 100% !important;
        border-radius: 1rem;
        object-fit: fill;
        transition: all 0.5s ease-in-out;
      }
      &:hover {
        .projectImg {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media screen and (max-width: $md) {
  .projects {
    @include displayCenter(center, center);
    flex-direction: column;
    padding: 0 10px;

    h1 {
      font-size: 45px;
    }
    // .project_container {
    //   display: grid;
    //   grid-template-columns: 1fr;
    //   .project_box {
    //     width: 100%;
    //     height: 240px;
    //   }
    // }
  }
}
// @media screen and (max-width: $sm) {
//   .projects {
//     .project_container {
//       display: grid;
//       grid-template-columns: 1fr;
//     }
//   }
// }
