.about {
  padding: 5rem 0;
  @include displayCenter(center, center);
  background-color: $black_color;
  background-image: url('../../public/assets/aboutBg.svg');
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.605);
    z-index: 1;
  }
  .about_right {
    @include displayCenter(center, center);
    flex-direction: column;
    z-index: 2;
    h1 {
      font-size: 50px;
      background: linear-gradient(260deg, #3d67ff 0%, #9773ff 50%, #efceff 80%),
        #fff;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      &:hover {
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5),
          -4px -4px 8px rgba(255, 255, 255, 0.8);
      }
      span {
        color: $brand_color;
      }
    }
    h3 {
      font-size: 2.5rem;
      margin-top: 30px;
      background: linear-gradient(90deg, #0ef, #ff00ea, #fffb00);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-top: 5rem;
    }
    h4 {
      font-size: 1.5rem;
      margin-top: 5px;
      background: linear-gradient(90deg, #fffb00, #ff00ea, #0ef);
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    p {
      font-size: 18px;
      margin-top: 20px;
      color: white;
      max-width: 800px;
      text-align: justify;
      span {
        span {
          .about_text_heading {
            font-size: 22px;
            font-weight: bold;
          }
        }
      }
    }

    .glow-on-hover {
      width: 220px;
      margin-top: 60px;
      border: 2px solid #064aa4;
      outline: none;
      color: #fff;
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      &:before {
        content: '';
        background: linear-gradient(
          45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
      }

      &:active {
        color: #000;
      }
      &:active:after {
        background: transparent;
      }
      &:hover:before {
        opacity: 1;
      }
      &:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .about {
    @include displayCenter(center, center);
    padding: 2rem 10px;
    .about_right {
      @include displayCenter(center, center);
      padding-bottom: 5rem;
      h3 {
        font-size: 30px;
      }
      p {
        max-width: 500px;
      }
    }
  }
}
@media screen and (max-width: $sm) {
  .about {
    .about_right {
      h3 {
        font-size: 25px;
      }
      h4 {
        font-size: 1.2rem;
      }
      p {
        max-width: 350px;
      }
    }
  }
}
