.about {
  padding: 8rem;
  @include displayCenter(center, center);
  background-color: $black_color;
  // .about_left {
  //   @include displayCenter(center, center);
  //   .about_profile {
  //     background-color: $brand_color;
  //     height: 400px;
  //     width: 500px;
  //     clip-path: polygon(0 0, 51% 100%, 100% 0);
  //   }
  // }
  .about_right {
    @include displayCenter(center, center);
    flex-direction: column;
    margin-top: -60px;
    h1 {
      font-size: 50px;
      background: linear-gradient(260deg, #3d67ff 0%, #9773ff 50%, #efceff 80%),
        #fff;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      &:hover {
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5),
          -4px -4px 8px rgba(255, 255, 255, 0.8);
      }
      span {
        color: $brand_color;
      }
    }
    h3 {
      font-size: 25px;
      margin-top: 30px;
      background: linear-gradient(90deg, #0ef, #ff00ea, #fffb00);
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    h4 {
      font-size: 20px;
      margin-top: 5px;
      background: linear-gradient(90deg, #fffb00, #ff00ea, #0ef);
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    p {
      font-size: 20px;
      background: linear-gradient(260deg, #3d67ff 0%, #9773ff 50%, #efceff 80%),
        #fff;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-top: 40px;
      max-width: 800px;
      span {
        span {
          .about_text_heading {
            font-size: 22px;
            font-weight: bold;
          }
        }
      }
    }

    // .btn {
    //   width: 180px;
    //   height: 60px;
    //   cursor: pointer;
    //   background: transparent;
    //   border: 1px solid #91c9ff;
    //   outline: none;
    //   transition: 1s ease-in-out;
    // }

    // svg {
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   fill: none;
    //   stroke: #fff;
    //   stroke-dasharray: 150 480;
    //   stroke-dashoffset: 150;
    //   transition: 1s ease-in-out;
    // }

    // .btn:hover {
    //   transition: 1s ease-in-out;
    //   background: #4f95da;
    // }

    // .btn:hover svg {
    //   stroke-dashoffset: -480;
    // }

    // .btn span {
    //   color: white;
    //   font-size: 18px;
    //   font-weight: 100;
    // }
    .glow-on-hover {
      width: 220px;
      height: 50px;
      margin-top: 60px;
      border: 2px solid #064aa4;
      outline: none;
      color: #fff;
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      &:before {
        content: '';
        background: linear-gradient(
          45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
      }

      &:active {
        color: #000;
      }
      &:active:after {
        background: transparent;
      }
      &:hover:before {
        opacity: 1;
      }
      &:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
      }
    }
  }
}

// .about {
//   height: 100vh;
//   background-color: $black_color;
//   @include displayCenter(center, space-between);
//   padding: 10rem 7% 2rem;
//   .about_left {
//     background-color: $brand_color;
//     height: 450px;
//     width: 500px;
//     clip-path: polygon(0 0, 51% 100%, 100% 0);
//     // box-shadow: 0 8px 8px -4px lightblue;
//   }
//   .about_right {
//     width: 600px;
//     margin-bottom: 100px;
//     h1 {
//       font-size: 50px;
//       color: $white_color;
//       span {
//         color: $brand_color;
//       }
//     }
//     h3 {
//       font-size: 25px;
//       color: $white_color;
//       margin-top: 10px;
//     }
//     p {
//       font-size: 20px;
//       color: $white_color;
//       margin-top: 10px;
//     }
//     .btn {
//       display: inline-block;
//       padding: 1rem 2.5rem;
//       background-color: $brand_color;
//       border-radius: 0.6rem;
//       box-shadow: 0 0.2rem 0.5rem $shadow_color;
//       font-size: 1.2rem;
//       color: $white_color;
//       letter-spacing: 0.1rem;
//       font-weight: 600;
//       transition: 0.5s ease;
//       border: 1px solid $brand_color;
//       margin-top: 30px;
//       &:hover {
//         background-color: transparent;
//         color: $brand_color;
//       }
//     }
//   }
// }

@media screen and (max-width: $md) {
  .about {
    @include displayCenter(center, center);
    padding: 2rem;
    .about_left {
      display: none;
    }
    .about_right {
      margin-top: 250px;
      @include displayCenter(center, center);
      padding-bottom: 5rem;
      p {
        max-width: 500px;
        height: 220px;
      }
    }
  }
}
@media screen and (max-width: $sm) {
  .about {
    .about_right {
      margin-top: 300px;
      p {
        max-width: 350px;
        height: 300px;
      }
    }
  }
}
