.contactInfo {
  background-color: $black_color;
  padding: 8rem;
  h1 {
    font-size: 50px;
    background: linear-gradient(260deg, #3d67ff 0%, #9773ff 50%, #efceff 80%),
      #fff;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    @include displayCenter(center, center);
    &:hover {
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5),
        -4px -4px 8px rgba(255, 255, 255, 0.8);
    }
    span {
      color: $brand_color;
      margin-left: 20px;
    }
  }
  .contactInfo_top {
    margin-top: 100px;
    color: $white_color;
    @include displayCenter(center, space-evenly);
    flex-wrap: wrap;
    gap: 60px;
    .card_one {
      width: 200px;
      height: 150px;
      background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
      border-radius: 5px;
      padding: 1rem;
      box-shadow: $box_shadow;
      .card_icon {
        @include displayCenter(center, center);
        width: 60px;
        height: 60px;
        background-image: linear-gradient(
          -225deg,
          #231557 0%,
          #44107a 29%,
          #ff1361 67%,
          #fff800 100%
        );
        border-radius: 50%;
        box-shadow: 0 8px 8px -4px lightblue;
        margin-left: 55px;
        margin-top: -40px;
        .icon {
          color: $white_color;
          font-size: 25px;
          cursor: pointer;
        }
      }
      .card_text {
        @include displayCenter(center, center);
        flex-direction: column;
        margin-top: 20px;
        color: $white_color;
        .small_Text {
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }
  }
  .contactInfo_bottom {
    @include displayCenter(center, center);
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 200px;
    .contactInfo_bottom_left {
      max-width: 500px;
      margin-top: -50px;
      h2 {
        font-size: 30px;
        background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      h4 {
        background: linear-gradient(
            260deg,
            #3d67ff 0%,
            #9773ff 50%,
            #efceff 80%
          ),
          #fff;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 25px;
        margin-top: 20px;
      }
      .get_in_text {
        color: $white_color;
        font-size: 20px;
        margin-top: 10px;
      }
      .social_links {
        margin-top: 50px;
        @include displayCenter(center, flex-start);
        gap: 30px;
        .social_link_icon {
          @include displayCenter(center, flex-start);
          font-size: 25px;
          color: $white_color;
          cursor: pointer;
          padding: 15px;
          border-radius: 50%;
          box-shadow: $box_shadow;
          background-image: linear-gradient(
            -225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%
          );
        }
      }
    }
    .contactInfo_bottom_right {
      width: 400px;
      height: 430px;
      // background-color: $brand_color;
      background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
      padding: 1rem;
      border-radius: 5px;
      box-shadow: $box_shadow;
      // margin-top: 30px;
      form {
        .input_wrapper {
          color: $white_color;
          @include displayCenter(flex-start, center);
          flex-direction: column;
          label {
            font-size: 20px;
            color: $white_color;
            margin-top: 20px;
          }
          input {
            background: transparent;
            width: 100%;
            border: none;
            border-bottom: 1px solid $white_color;
            margin-top: 20px;
            color: $white_color;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: $white_color;
              font-size: 12px;
            }
          }
          textarea {
            background: transparent;
            width: 100%;
            border: none;
            outline: none;
            border-bottom: 1px solid $white_color;
            color: $white_color;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: $white_color;
              font-size: 12px;
            }
          }
        }
        .btn {
          display: inline-block;
          padding: 0.5rem 2.5rem;
          // background-color: $brand_color;
          background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
          border-radius: 0.6rem;
          box-shadow: 0 0.2rem 0.5rem $shadow_color;
          font-size: 1.2rem;
          color: $white_color;
          letter-spacing: 0.1rem;
          font-weight: 600;
          transition: 0.5s ease;
          // border: 1px solid $brand_color;
          border: none;
          margin-top: 40px;
          width: 100%;
          cursor: pointer;
          &:hover {
            background-color: $black_color;
            color: $white_color;
          }
        }
      }
      .submit_model_wrapper {
        display: none !important;
      }
    }
  }
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
}

@media screen and (max-width: $md) {
  .contactInfo {
    padding: 2rem;
    h1 {
      margin-top: 50px;
    }
    .contactInfo_bottom {
      .contactInfo_bottom_left {
        h2 {
          @include displayCenter(center, center);
          margin-top: 50px;
        }
        h4 {
          @include displayCenter(center, center);
        }
        .social_links {
          @include displayCenter(center, center);
        }
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .contactInfo {
    .contactInfo_bottom {
      margin-top: 50px;
      gap: 50px;
      .contactInfo_bottom_left {
        h2 {
          @include displayCenter(center, center);
        }
        h4 {
          @include displayCenter(center, center);
        }
        .social_links {
          @include displayCenter(center, center);
        }
      }
    }
  }
}
