@mixin displayCenter($aline-items, $justify-content) {
  display: flex;
  align-items: $aline-items;
  justify-content: $justify-content;
}

@mixin border($width, $color) {
  border: $width solid $color;
}

@mixin text-shadow($h-shadow, $v-shadow, $blur_radius, $color) {
  text-shadow: $h-shadow $v-shadow $blur_radius $color;
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xlg: 1200px;

$bg_color: #fdfdfd;
$text_color: #333;
$brand_color: #ece41a;
$white_color: black;
$black_color: #ffffff;
$shadow_color: rgba(0, 0, 0, 0.2);
$second_black: #191b26;
$green_color: #90c450;

// box shadow
// #ece41a
$box_shadow: 0 8px 8px -4px rgb(74, 177, 200);
